.board {
	display: inline-block;
}

.row {
	display: flex;
}

.cell {
	width: 20px;
	height: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid #ddd;
}

.cell.border {
	background-color: black;
}

.cell.board {
	background-color: white;
}

.cell.randomBounce {
	background-color: yellow;
}

.cell.ball {
	background-color: red;
	color: white;
}
.ball-image {
	width: 20px;
	height: 20px;
}
